body {
    margin: 0;
    background-color: grey;
    color: aliceblue
}

h1, h3 {
    margin: 70px 20px;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
}

.navbar a:hover {
    background: aquamarine;
    color: blue;
}

.photo-container {
    position: relative;
}

.text {
    color: blue;
    font-size: 18px;
}

img {
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px;
    border-radius: 25px;
    filter: invert(100%);
    transition: .5s ease;
    backface-visibility: hidden;
}

.center {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

.photo-container:hover .image {
    opacity: 0.3;
}

.photo-container:hover .center {
    opacity: 1;
}

.footer-style {
    display: block;
    color: #00ffff;
    background-color: #000000;
    text-align: center;
    font-weight: 500;
    z-index: 100;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 60%
}

th {
    background-color: aquamarine;
    color:blue;
}

table, th, td {
    border: 1px solid;
    text-align: center;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 1px;
    height: 100px;
    color: blue;
}

.left {
    width: 35%;
}

.right{
    width: 65%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
